{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/home_page.js') }}"></script>
{% endblock %}

{% block head %}
    <title>Home</title>
    {{ parent() }}
{% endblock %}
