{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/login.js') }}"></script>
{% endblock %}

{% block head %}
    <title>Login</title>
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
      <div class="container d-flex justify-content-center align-items-center" style="height:  100vh;">
        <div class="col-6">
            <h1>Login</h1>
            <form id="auth-form" action="/api/login" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                           required>
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
            <div>
                <button type="button" class="btn btn-outline-primary mb-3" name="reg">Registration</button>
            </div>
            <div>
                <button type="button" class="btn btn-outline-primary" name="reset">Reset Password</button>
            </div>
        </div>
    </div>

{% endblock %}
